<?xml version="1.0"?>
<orderconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <anonymous>0</anonymous>
  <confirmmsg>0</confirmmsg>
  <confirmcallindex>order_confirm</confirmcallindex>
  <expressmsg>0</expressmsg>
  <expresscallindex>order_express</expresscallindex>
  <completemsg>0</completemsg>
  <completecallindex>order_complete</completecallindex>
</orderconfig>