<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%set string category_title=get_category_title(category_id,"资源下载")%>
<title>{category_title} - {config.webname}</title>
<link rel="stylesheet" href="{config.webpath}css/pagination.css" />
<link media="screen" type="text/css" href="<%templateskin%>/css/style.css" rel="stylesheet">
<script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="<%templateskin%>/js/base.js"></script>
</head>

<body>
<!--Header-->
<%template src=/_header.html/%>
<!--/Header-->

<div class="boxwrap">
  <div class="left710">
   <!--Content-->
    <div class="main_box">
      <%set (string){category_nav}=get_category_menu("down_list", category_id)%>
      <dl class="head green">
        <dt>资源下载</dt>
        <dd>
          <span>当前位置：<a href="<%linkurl("index")%>">首页</a> &gt; <a href="<%linkurl("down")%>">资源下载</a>{category_nav}</span>
        </dd>
      </dl>
      <div class="clear"></div>
      <h1 class="base_tit">分类“{category_title}”的内容</h1>
      <ul class="down_list">
        <%set DataTable down_list = get_article_list("down", category_id, page, "status=0", out totalcount, out pagelist, "down_list", category_id, "__id__")%><!--取得一个分页DataTable-->
        <%foreach(DataRow dr in down_list.Rows)%>
        <li>
          <a href="<%linkurl("down_show",{dr[id]})%>" class="pic"><img width="140" height="98" src="{dr[img_url]}" alt="{dr[title]}" /></a>
          <h2><a href="<%linkurl("down_show",{dr[id]})%>" title="note">{dr[title]}</a></h2>
          <div class="info">
            <span class="time">{dr[add_time]}</span>
            <span class="comm"><script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_comment_count&id={dr[id]}"></script>人评论</span>
            <span class="view"><script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_article_click&id={dr[id]}"></script>次浏览</span>
          </div>
          <div class="note">{dr[zhaiyao]}</div>
        </li>
        <%/foreach%>
      </ul>
    </div>
    <div class="line20"></div>
    <div class="flickr">{pagelist}</div> <!--放置页码列表-->
    <!--/Content-->
  </div>
  
  <div class="left264">
    <!--Sidebar-->
    <div class="sidebar">
      <h3>资源类别</h3>
      <ul>
        <%set DataTable category_list1=get_category_list("down", 0)%>
        <%foreach(DataRow dr in category_list1.Rows)%>
        <li><a title="{dr[title]}" href="<%linkurl("down_list",{dr[id]})%>"><em class="arrow">&gt;</em>{dr[title]}</a></li>
        <%/foreach%>
      </ul>
      <h3>推荐资源</h3>
      <div class="focus_list">
        <ul>
          <%set DataTable reddown=get_article_list("down", 0, 6, "is_red=1 and img_url<>''")%>
          <%foreach(DataRow dr in reddown.Rows)%>
          <li>
            <a title="{dr[title]}" href="<%linkurl("down_show",{dr[id]})%>">
              <img src="{dr[img_url]}" width="100" height="100" alt="{dr[title]}" />
              <span>{dr[title]}</span>
            </a>
          </li>
          <%/foreach%>
        </ul>
        <div class="clear"></div>
      </div>
      <h3>下载排行</h3>
      <ul class="rank_list">
        <%set DataTable hotdown=get_article_list("down", 0, 10, "", "click desc,id desc")%>
        <%loop hotdr hotdown%>
        <%if hotdr__loop__id==1%>
        <li class="active">
        <%else%>
        <li>
        <%/if%>
          <span><%datetostr({hotdr[add_time]},MM-dd)%></span>
          <i class="num"><%write hotdr__loop__id%></i><a href="<%linkurl("down_show",{hotdr[id]})%>">{hotdr[title]}</a>
        </li>
        <%/loop%>
      </ul>
    </div>
    <!--/Sidebar-->
  </div>
</div>

<div class="clear"></div>

<!--Footer-->
<%template src="_footer.html"%>
<!--/Footer-->
</body>
</html>
