<?xml version="1.0"?>
<siteconfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <webname>A&amp;W Trade电子商务应用系统</webname>
  <weburl>http://trade.aw-trade.com/</weburl>
  <weblogo>/upload/201508/01/201508011349503556.jpg</weblogo>
  <webcompany>AW Trade FZE</webcompany>
  <webaddress />
  <webtel />
  <webfax>-</webfax>
  <webmail />
  <webcrod />
  <webtitle>AW Trade FZE</webtitle>
  <webkeyword>AW Trade FZE</webkeyword>
  <webdescription>AW Trade FZE</webdescription>
  <webcopyright>版权所有 AW Trade FZE© Copyright  2015 All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>1</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <smsapiurl>http://api.52ao.com/</smsapiurl>
  <smsusername>admin</smsusername>
  <smspassword>21232f297a57a5a743894a0e4a801fc3</smspassword>
  <emailsmtp>smtp.163.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>lhee@163.com</emailfrom>
  <emailusername>lhee@163.com</emailusername>
  <emailpassword>8F30F6A1966DF8A8</emailpassword>
  <emailnickname />
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>500</thumbnailheight>
  <thumbnailwidth>500</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>版权所有</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>ax_</sysdatabaseprefix>
  <sysencryptstring>AoXiang</sysencryptstring>
</siteconfig>